{% extends "base.html" %}

{% block content %}
<h2>About this site:</h2>
<p>
    My goal was to develop an application with the following set of requirements:
</p>
<ul>
    <li>This system must be centralized, but accessible by many different users.</li>
    <li>The application must be able to store IP ranges as well as individual IP 
    addresses.</li>
    <li>The application must provide a means to create a hierarchical organization 
    of ranges and individual IP addresses.</li>
    <li>Users must be able to add, remove, and modify entries.</li>
    <li>Users must be able to search for information.</li>
    <li>The system must be able to check whether the machines that use IP addresses 
    are responsive.</li>
    <li>For all IP addresses, the system should attempt to obtain name records.</li>
    <li>Users must be required to enter a description for any IP reservation they 
    make.</li>
    <li>It should be easy to extend the system to use DHCP.</li>
</ul>
<p>
    Using these requirements as a guide, I make the following decisions about the 
    application development and structure:
</p>
<ul>
    <li>The application is going to be web based. 
    <li>It will run on a dedicated web server and will be accessible by anyone in 
    the organization from their web browser. 
    <li>The application will be written in Python and will use the Django framework. 
    <li>Implementation is split into two phases:  basic IP allocation and 
    reservation functionality, and integration with DHCP.
</ul>
<p>
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="/build/">The network build interface</a></li>
    <li><a href="/audit/">The network audit interface</a></li>
    <li><a href="/report/">The reporting interface</a></li>
    <li><a href="/test/">The network device testing interface</a></li>
</ul>
{% endblock %}
