{% extends "base.html" %}

{% block content %}
<h2>Contact information:</h2>
<p>
    Welcome to your new Django powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="/build/">The network build interface</a></li>
    <li><a href="/audit/">The network audit interface</a></li>
    <li><a href="/report/">The reporting interface</a></li>
    <li><a href="/test/">The network device testing interface</a></li>
</ul>
{% endblock %}
