<!DOCTYPE html>
<html>
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>BART - The Build-Audit-Report-Test tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way 
                            to the bottom of the topbar */
    }
    </style>
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
     
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $(".address").each(function () {
                var curId = $(this).attr('id');
                updateStatus(curId);
            });
        });
    
        function updateStatus(attrId) {
            address = attrId.replace('ip_', '');
            address = address.replace(/_/g, '.');
            $.ajax({
                url: '{% url 'networkaddress-ping-url' %}' + address + '/ping/',
                success: function(response) {
                    $('#' + attrId).html(response);
                }
            });
        }
    
    </script>
    
  </head>
  <body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">BART</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/bart">Home</a></li>
              <li><a href="/audit">Audit</a></li>
              <li><a href="/build">Build</a></li>
              <li><a href="/test">Test</a></li>
              <li><a href="/report">Report</a></li>
              <li><a href="/ip_addresses/networkaddress/">IP Management</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="span12">
          {% block contents %}{% endblock %}
        </div>
      </div>
    </div><!--/ container -->
    
  </body>
</html>