{% extends "base.html" %}

{% block extra_head %}
  <!-- see below, copied from http://stackoverflow.com/questions/7326158/django-roll-up-collapsible-menu -->
  <script type="text/javascript">
  $( document ).ready(function() {
    $('#menu > a').click(function(){
        $(this).next().next().slideToggle();
        return false;
    });
  });
  </script>
{% endblock %}

{% block content %}
{% if parent %}
    <h2>Current address: {{ parent.address }}/{{ parent.network_size }}</h2>
    <h3><a href="{% if parent.parent %}{% url 'networkaddress-display' parent.parent %}{% else %}{% url 'networkaddress-displaytop' %}{% endif %}">Go back</a></h3>
{% else %}
    <h2>At the top of the networks tree</h2>
{% endif %}

{% if addresses_list %}
    <ul>
    {% for address in addresses_list %}
        <li><a href="{% url 'networkaddress-display' address %}">{{ address.address }}/{{ address.network_size }}</a>
            {% ifequal address.network_size 32 %}(host){% else %}(network){% endifequal %}{{ address.description }}
            (<a href="{% url 'networkaddress-delete' address %}">delete</a> |
            <a href="{% url 'networkaddress-modify' address %}">modify</a>) 
            {% ifequal address.network_size 32 %}
            [Status: <span class="address" id="ip_{{ address.get_formated_address }}">Unknown</span> ]
            {% endifequal %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% ifequal parent.network_size 32 %}
        This is a node IP
        <ul>
        <li>Description: {{ parent.description }} ( <a href="{% url 'networkaddress-modify' parent %}">modify</a> )</li>
        </ul>
    {% else %}
        No addresses or subnets in this range
    {% endifequal %}
{% endif %}

{% ifnotequal parent.network_size 32 %}
  <h3><a href="{% if parent %}{% url 'networkaddress-add' parent %}{% else %}{% url 'networkaddress-addtop' %}{% endif %}">Add new subnet or node IP</a></h3>
{% endifnotequal %}

<!-- needs work, copied from http://stackoverflow.com/questions/7326158/django-roll-up-collapsible-menu -->
<div id="menu">
    <a>Teachers</a><br />
    <div style="display: none">
        <a href="/">Edit</a><br />
        <a href="/">Delete</a><br /> 
    </div>
    <a>Schools</a><br />
    <div style="display: none">
        <a href="/">Edit</a><br />
        <a href="/">Delete</a><br /> 
    </div>
</div>

{% endblock %}
